*{


padding: 0;
margin: 0;

}



header {
  background-color: #000;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 60px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav li {
  margin-right: 20px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

nav a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  transform-origin: center bottom;
  transition: width 0.2s ease-out;
}

nav a:hover {
  color: #98ece8;
}

nav a:hover:before {
  width: 100%;
}

@media screen and (max-width: 578px) {
  .logo {
    display: none;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  nav li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  nav a {
    margin-left: 18px;
    font-size: 13px;
    text-align: center;
    display: block;
    padding: 10px 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo img {
    height: 70px;
  }
  nav a {
    font-size: 19px;
    padding: 10px 20px;
  }
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  z-index: 1;
  width: 200px;
  border: 1px solid #ccc;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 20px;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.dropdown-menu a:hover {
  background-color: #eee;
}

.dropdown-menu.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}






.Container{

  width: 100%;
  display: grid;
  grid-template-rows: 350px 500px;

}

.Profile_Pic{

  display: grid;
  justify-items: center;
  
}



.title{
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;

}


  .button {

    padding: 10px;
    font-size: 14px;
    font-weight: bold;
 
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }

  .button:hover {
    background-color: #0069d9;
  }


.Username_form{




}




























body{


}
/* Form container */
.form-container {
max-width: 500px;
margin: 0 auto;
padding: 20px;
background-color: #f7f7f7;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
margin-top: 20px;
}

/* Form labels */
label {
display: block;
margin-bottom: 5px;
font-weight: bold;
color: #333;
}

/* Form input fields */
input[type="text"],
input[type="password"] {
width: 95%;
padding: 10px;
margin-bottom: 15px;
border: none;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Submit button */
button[type="submit"] {
display: block;
width: 100%;
padding: 10px;
background-color: #333;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

/* Error message */
.error-message {
margin-top: 10px;
color: #f00;
font-weight: bold;
}

.error-container {
text-align: center;
}

.Circle{

justify-self: center;

margin-top: 30px;

}

.Circle img{

  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px; 
 
}

.Circle_admin img{

  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 16px; 

}

.admin_text{

  font-weight: bold;


}